.DetailTitle {
    font-weight: bold;
}

.breed-detail {
    margin-bottom: 10px;
}

.btn-custom {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background: black;
    margin-right: 5px;
}