.home-title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.cat-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}